<h1>Add Inventory</h1>
<%- messages() %>

    <%# if (errors) { %>
        <ul class="notice">
            <%# errors.array().forEach(error=> { %>
                <li>
                    <%#= error.msg %>
                </li>
                <%# }) %>
        </ul>
        <%# } %>

            <span>

                <!-- <h2>HTML Forms</h2> -->


                <form action="delete-inventory" method="post">
                    <label for="classification">Classification:</label><br>
                    <%- classificationList %>
                        <input type="hidden" id="classification_id" name="classification_id" required value="">
                        <br>

                        <label for="name">Make:</label><br>
                        <input type="text" id="inv_make" name="inv_make" required value="<%= locals.inv_make %>"><br>
                        <label for="name">Model:</label><br>
                        <input type="text" id="inv_model" name="inv_model" required value="<%= locals.inv_model %>"><br>
                        <label for="name">Description:</label><br>
                        <input type="text" id="inv_description" name="inv_description" required
                            value="<%= locals.inv_description %>"><br>
                        <label for="name">Image Path:</label><br>
                        <input type="text" id="inv_image" name="inv_image" required
                            value="<%= locals.inv_thumbnail %>"><br>
                        <label for="name">Thumbnail Path:</label><br>
                        <input type="text" id="inv_thumbnail" name="inv_thumbnail" required
                            value="<%= locals.inv_thumbnail %>"><br>
                        <label for="name">Price:</label><br>
                        <input type="text" id="inv_price" name="inv_price" required value="<%= locals.inv_price %>"><br>
                        <label for="text">Year:</label><br>
                        <input type="text" id="inv_year" name="inv_year" required value="<%= locals.inv_year %>"><br>
                        <label for="name">Miles:</label><br>
                        <input type="text" id="inv_miles" name="inv_miles" required value="<%= locals.inv_miles %>"><br>
                        <label for="name">Color:</label><br>
                        <input type="text" id="inv_color" name="inv_color" required value="<%= locals.inv_color %>"><br>


                        <br>

                        <button class="button">Update Vehicle</button>
                        <input type="hidden" name="inv_id" <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
                            <% } %>>

                                <!-- <input type="submit" value="Submit"> -->
                </form>
                <!-- <div>No Account? No Problem: <a href="/account/register">Sign Up</a></div> -->

            </span>
            </picture>